:root {
  font-family: MonoLisa, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --green: #C2F9BB; /* links etc */
  --fg-color: #303034; /* post background */
  --bg-color: #1B1B1E; /* page background etc */
  --text-color: #ECEAF1; /* text */

  color: var(--text-color);
  background-color: var(--bg-color);
}

a:hover {
  color: #24c8db;
}

input,
button {
  color: var(--text-color);
  background-color: var(--fg-color);

  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  input,
  button {
    padding: 4px 8px;
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  input,
  button {
    padding: 5px 10px;
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 900px) {
  input,
  button {
    padding: 6.4px 12.8px;
    font-size: 1em;
  }
}

tr {
  width: 50%;
}


input:not([readonly]){
  color: var(--fg-color);
  background-color: var(--text-color);
}

h1 {
  margin-left: 2em;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#table_div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.entry_name,.entry_user,.entry_pass {
  width: 70%;
}

.entry_name > input,.entry_user > input,.entry_pass > input {
  width: 100%;
}

.table_actions>div>button {
  height: 40%;
}

input[type="password"] {
  user-select: none;
}

#password_prompt {
  background: white;
  color: black;
  border: 1px solid black;
  width: 50%;
  height: 25%;
  position: fixed;
  left: 25%;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px double var(--fg-color);
  border-radius: 5%;
}

#table_actions > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#table_actions > div > button {
  margin-left: 3px;
}

#table_div > div > div {
  margin-bottom: 5px;
}

#createEntry_actions > button {
  width: 100%;
}

#title {
  cursor: pointer;
}

.select {
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  height: 50px;
  width: 50px;

  /* hide the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.select > div{
  display: none;
  position: absolute;
  top: 4em;
}
.select > div > div{
  width: 60px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.select > img {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.select.open > img {
  transform: rotate(180deg);
  transition: transform 0.25s linear;
}

/* .select.open > div {
  transition: 1s ease-in;
  height: 8em;
  overflow: hidden;
}

.select > div {
  transform: none;
  height: 0;
  transition: 1s ease-out;
} */